.section_texte {
  /* font-style: italic; */
  font-size: 15pt;
  padding-left: 40px;
  padding-right: 40px;
}
* {
  font-family: "Poppins";
  box-sizing: border-box;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Regular.ttf") format("truetype");
  font-style: normal;
}
@font-face {
  font-family: "Raleway";
  src: url("../fonts/raleway-regular-webfont.woff") format("woff"),
    url("../fonts/raleway-regular-webfont.woff2") format("woff2");
  font-weight: normal;
}
@font-face {
  font-family: "Raleway";
  src: url("../fonts/raleway-bold-webfont.woff") format("woff"),
    url("../fonts/raleway-bold-webfont.woff2") format("woff2");
  font-weight: bold;
}
@font-face {
  font-family: "Raleway";
  src: url("../fonts/raleway-italic-webfont.woff") format("woff"),
    url("../fonts/raleway-italic-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Raleway";
  src: url("../fonts/raleway-bolditalic-webfont.woff") format("woff"),
    url("../fonts/raleway-bolditalic-webfont.woff2") format("woff2");
  font-weight: bold;
  font-style: italic;
}
nav {
  float: right;
}
header {
  font-size: 1.5em;
}

body {
  margin: 0;
  background-color: #ecf0f1;
}
nav:hover {
  color: red;
}
.cta {
  padding: 15px 30px;
  color: white;
  background-color: #274d89;
  text-decoration: none;
  border: 2px solid black;
  border-radius: 50px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
}
a:hover {
  color: red;
}

/* effect-shine */
a.effect-shine:hover {
  -webkit-mask-image: linear-gradient(
    -75deg,
    rgba(0, 0, 0, 0.6) 30%,
    #000 50%,
    rgba(0, 0, 0, 0.6) 70%
  );
  -webkit-mask-size: 200%;
  animation: shine 2s infinite;
}

@-webkit-keyframes shine {
  from {
    -webkit-mask-position: 150%;
  }

  to {
    -webkit-mask-position: -50%;
  }
}
